.container {
    display: flex;
    flex-direction: column;
    background: #262626;
    padding-top: 20px;
    align-items: center;
}

.container .logo img{
    margin-top: 15px;
    width: 20vh;
    height: 20vh;
}

.container .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container .content .itens {
    margin: 0 20px;
    height: 140px;
    padding: 30px;
}

.container .content .itens .Title {
    display: flex;
    flex-direction: row; 
    margin-bottom: 10px;
}
.container .content .itens .Title span {
    font-size: 1.3rem;
    font-weight: 600;
}

.container .content .itens .telephone{
    display: flex;
    align-items: center;
    padding: 5px;
}
.container .content .itens .telephone p {
    margin-left: 5px;
}
.container .content .itens .email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container .content .itens .email p {
    margin-left: 5px;
}

.container .content .itens p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
}

.container .content .itens span {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-primary);
}

.container .content .itens img {
    width: 3vh;
}

.container .cnpj{
    width: 100%;
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
}

.container .creator{
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: #3A3A3A;
    height: 30px;
    color: var(--white);
}
.container .socialNetworks {
    display: flex;
}
.container .socialNetworks .networks {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.container .socialNetworks .networks span {
    padding: 0 10px;
}
.container .socialNetworks .networks:hover {
    background: rgba(255, 255, 255, .1);
}

@media (max-width: 950px){
    
.container .content {
    flex-direction: column;
}
.container .content .itens {
    max-width: 290px;
}
}