.contentNav{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #020202 0%, rgba(21, 22, 22, 0.041) 100%); 
  padding: 10px 8rem;
  z-index: 11111;
}
.contentNav .logoImage {
  position: relative;
  min-width: 80px;
  height: 80px;
  width: 100px;
 transition: all 0.2s;
}
/* .contentNav img {
  height: 4.5rem;
  width: auto;
  transition: all 0.2s;
} */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 60px;
}
 .menu * {
   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease-in-out;
}

.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
  cursor: pointer;
  user-select: none; 
}
.menu a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-decoration: none;
  font: 800 1.2rem "Poppins", sans-serif;
}
 .menu a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #d38015;
  border-top: 3px solid #d38015;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.menu a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #d38015;
  border-bottom: 3px solid #d38015;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
} 
.menu a:before,
.menu a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
} 
.menu a:hover,
.menu .current a {
  color: #ffffff;
}
.menu a:hover:before,
.menu .current a:before,
.menu a:hover:after,
.menu .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
} 

/* BURGUER */
.burguer {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  border: 2px solid #fff;
  width: 35px;
  height:30px;
  padding: 5px;
  border-radius: 5px;
  right: 40px;
  cursor: pointer;
  transition: all 1s ease;
}.burguer1 {
  border-bottom: 3px solid #fff;
  border-radius: 8px;
  width: 100%;
  transition: transform 0.5s ease;
}
.burguer2 {
  border-bottom: 3px solid #fff;
  width: 75%;
  margin: 5px 0;
  transition: transform 0.5s ease;
  transform: translateX(20%);
  border-radius: 8px;
}
.burguer3 {
  border-bottom: 3px solid #fff;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.burguer1Open {
  position: absolute;
  top: 12px;
  width: 80%;
  transform: rotate(45deg);
}
.burguer2Open {
  transform: translateX(0);
  opacity: 0;
}
.burguer3Open {
  position: absolute;
  transform: rotate(-45deg);
  top: 12px;
  width: 80%;
} 

@media (max-width: 1250px) {
  .contentNav {
    justify-content: space-between;
    padding: 10px 0;
  }
  .menu {
    position: absolute;
    flex-direction: column;
    top: 0;
    height: 0;
    width: 100%;
    margin: 0;
    background:  rgb(21, 22, 22); 
    transition: all .2s;
    z-index: -1;
    overflow: hidden;
  }
  .menuSmall {
    height: 50vh;
  }
  .burguer {
    display: flex;
    top: 25px;
    right: 30px;
  }
}
@media (max-width: 530px) {
  .contentNav {
    background: linear-gradient(180deg, #020202 0%, rgba(27, 47, 51, 0) 100%); 
    height: 85px;
  }
  .contentNav .logoImage {
    min-width: 60px;
    height: 60px;
  }
  
}